[Unit]
Description=BlueALSA aplay service
After=bluealsa.service
Requires=bluealsa.service

[Service]
Type=simple
User=pi
ExecStartPre=/bin/sleep 20
ExecStart=/usr/bin/bluealsa-aplay -vv 00:00:00:00:00:00

[Install]
WantedBy=multi-user.target
